# Plik startowy
DirectoryIndex index.html

RewriteEngine on

# Cache po stronie przegladarki
<FilesMatch ".(webp|css|js)$">
Header set Cache-Control "max-age=86400"
</FilesMatch>

# Przekierowanie domeny

RewriteCond %{SERVER_PORT} !^443$ [OR]
RewriteCond %{HTTP_HOST} !^www\.localit\.pl$ [NC] 
RewriteRule ^(.*)$ https://www.localit\.pl/$1 [R=301,L]
